* {
  Margin: 0;
  padding: 0; }

/*Responsive common Bazar Alphastudio*/
/* Extra small devices */
@media only screen and (max-width: 600px) {
  .flexSectionNovedades {
    display: flex;
    height: auto;
    justify-content: space-around;
    flex-direction: column;
    margin-bottom: 50px; } }

/* Small devices */
@media only screen and (min-width: 600px) {
  .flexSectionNovedades {
    display: flex;
    height: auto;
    justify-content: space-around;
    flex-direction: column;
    margin-bottom: 50px; } }

/* Medium devices */
@media only screen and (min-width: 768px) {
  .flexSectionNovedades {
    display: flex;
    height: auto;
    justify-content: space-around;
    flex-direction: column;
    margin-bottom: 50px; } }

/* Large devices */
@media only screen and (min-width: 992px) {
  .flexSectionNovedades {
    display: flex;
    height: auto;
    justify-content: space-around;
    flex-direction: row;
    margin-bottom: 50px; } }

/* Extra large devices */
@media only screen and (min-width: 1200px) {
  .flexSectionNovedades {
    display: flex;
    height: auto;
    justify-content: space-around;
    flex-direction: row;
    margin-bottom: 50px; } }

h2 {
  background-image: linear-gradient(to right, blue, lightgray, aliceblue, lightgray, blue);
  width: 100%;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: "Mulish", sans-serif;
  text-shadow: 2px 2px 5px blue; }

.imagenNovidades {
  width: 350px;
  height: 500px;
  transition: all 1s; }

.imagenNovidades:hover {
  height: 650px;
  width: 500px;
  padding: 20px; }

/*
.flexSectionNovedades {
    display: flex;
    height: auto;
    justify-content: space-around;
    flex-direction: row;
    margin-bottom: 50px;
    
}
*/
.novedades {
  background-color: aliceblue;
  width: 40%; }
