/*Variables*/
$my-FontFamily: 'Mulish', sans-serif;
$color-Background-button: lightblue;
$width: 100%;



* {
    Margin:0;
    padding:0;
 }



.contactForm {
    font-family: $my-FontFamily;
    background-image: linear-gradient(to right,aliceblue, lightgray, blue, lightgray, aliceblue);
    margin-top: 20px;
    margin-bottom: 50px;
   
    
}


.legendForm {
    text-align: center;
    font-weight: bold;
   
}

.labelForm {
    text-align: left;
    margin-left: 5px;
}

.inputForm {
    width: ($width)-50;
    
}

.buttonContato {
    padding: 10px 24px;
    font-family: $my-FontFamily;
    background-color: $color-Background-button;
}

.textAreaContacto {
    text-align: left;
    margin-left: 10px;
    resize: none;
}

.imageGaleria {
    width: $width;
    height: 500px;
    margin-top: 20px;
    margin-bottom: 10px;
}