/*Variables*/
$my-FontFamily: 'Mulish', sans-serif;
$color-Background: aliceblue;




* {
    Margin:0;
    padding:0;
 }
 


/*Responsive common Bazar Alphastudio*/


/* Extra small devices */
@media only screen and (max-width: 600px) {

    .flexSectionNovedades {
        display: flex;
        height: auto;
        justify-content: space-around;
        flex-direction: column;
        margin-bottom: 50px;
        margin-top: 50px;
        margin-left: 50px;
        
    }



  }
  


  /* Small devices */
  @media only screen and (min-width: 600px) {

    .flexSectionNovedades {
        display: flex;
        height: auto;
        justify-content: space-around;
        flex-direction: column;
        margin-bottom: 50px;
        margin-top: 50px;
        margin-left: 50px;
        
    }


  }
  


  /* Medium devices */
  @media only screen and (min-width: 768px) {

    .flexSectionNovedades {
        display: flex;
        height: auto;
        justify-content: space-around;
        flex-direction: column;
        margin-bottom: 50px;
        margin-top: 50px;
        margin-left: 50px;
        
    }



  } 
  


  /* Large devices */
  @media only screen and (min-width: 992px) {

    .flexSectionNovedades {
        display: flex;
        height: auto;
        justify-content: space-around;
        flex-direction: row;
        margin-bottom: 50px;
        margin-top: 50px;
        margin-left: 50px;
        
    }




  } 


  

  /* Extra large devices */
  @media only screen and (min-width: 1200px) {
   
    .flexSectionNovedades {
        display: flex;
        height: auto;
        justify-content: space-around;
        flex-direction: row;
        margin-bottom: 50px;
        margin-top: 50px;
        margin-left: 50px;
       
        
    }



  }





 h2 {
    background-image: linear-gradient(to right, rgb(0, 110, 255), lightgray, aliceblue, lightgray, rgb(0, 110, 255) );
    width: 100%;
    text-align: center;
    
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: $my-FontFamily;
    text-shadow: 2px 2px 5px blue;
  
}

.imagenNovidades {
    width: 350px; height: 500px;
   transition: all 1s;       
}
.imagenNovidades:hover {
   height: 650px; width: 500px;
   padding: 20px;


}



.novedades {
    background-color: $color-Background;
    width: 40%;
}

.card1 {
  background-image: rgb(120, 175, 248);
  /*background-image: linear-gradient(to right, rgb(149, 193, 252), lightgray, aliceblue, lightgray, rgb(149, 193, 252));*/
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  font-family: $my-FontFamily;
  text-shadow: 1px 1px 1px rgb(0, 162, 255);
  border-style: none;
}