* {
    Margin:0;
    padding:0;
 }



.contactForm {
    font-family: "Mulish", sans-serif;
    background-image: linear-gradient(to right,aliceblue, lightgray, blue, lightgray, aliceblue);
    margin-top: 20px;
    margin-bottom: 50px;
   
    
}


.legendForm {
    text-align: center;
    font-weight: bold;
   
}

.labelForm {
    text-align: left;
    margin-left: 5px;
}

.inputForm {
    width: 50%;
    
}

.buttonContato {
    padding: 10px 24px;
    font-family: "Mulish", sans-serif;
    background-color: lightblue;
}

.textAreaContacto {
    text-align: left;
    margin-left: 10px;
    resize: none;
}