* {
    Margin:0;
    padding:0;
 }
 



/*Imagen Inicio*/

.imagenInicio {
    display: block;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

/*Seccion Inicio FLEXBOX*/

.flexSectionInicio {
    display: flex;
    height: auto;
    align-items: baseline;
}


/*Ofertas de la semana*/


.imagenOferta {
    width: 350px; height: 500px;
   transition: all 1s;       
}
.imagenOferta:hover {
   height: 650px; width: 500px;
   padding: 20px;
 

}



.ofertas {
    background-color: aliceblue;
    margin: auto;
    width: 40%;
    padding: 10px;
    font-family: "Mulish", sans-serif;
}

table, th, td {
    padding: 3px;
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    text-decoration: none;
    
}

th {
    background-color: blue;
    color: white;
}

h3 {
    text-align: left;
    padding-left: 30px;
    text-shadow: 2px 2px 5px blue;

}

h2 {
    background-image: linear-gradient(to right, blue, lightgray, aliceblue, lightgray, blue );
    width: 100%;
    text-align: center;
    
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: "Mulish", sans-serif;
    text-shadow: 2px 2px 5px blue;
  
}

/*Boton Compra GRID*/

.buttonCompraGrid {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}

.buttonCompra {
    grid-column-start: 3;
    padding: 10px 24px;
    font-family: "Mulish", sans-serif;
    background-color: lightblue;
}


.flyer {
    display: flex;
    height: auto;
    justify-content: center;
    margin-bottom: 30px;
    margin-left: 340px;
    margin-right: 100px;
    margin-top: 60px;
}

.flyerImg {
    background-color: aliceblue;
    width: 60%;
}


/*Logo Whatsapp*/

.logoWhatsapp {
    width: 6%;
    position: fixed;
    right: 10px;
    bottom: 10px;
}