* {
    Margin:0;
    padding:0;
 }
 

 h2 {
    background-image: linear-gradient(to right, blue, lightgray, aliceblue, lightgray, blue );
    width: 100%;
    text-align: center;
    
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: "Mulish", sans-serif;
    text-shadow: 2px 2px 5px blue;
  
}

.imagenNovidades {
    width: 350px; height: 500px;
   transition: all 1s;       
}
.imagenNovidades:hover {
   height: 650px; width: 500px;
   padding: 20px;


}

.flexSectionNovedades {
    display: flex;
    height: auto;
    justify-content: space-around;
    margin-bottom: 50px;
    
}

.novedades {
    background-color: aliceblue;
    width: 40%;
}
